<section id="container">
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <!--logo start-->
        <a ng-href="/dashboard" class="logo">Trendy+ <span class="lite">Admin</span></a>
        <!--logo end-->

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <!-- alert notification end-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" ng-click="logoutClick()">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                        <span class="username">{{ user.username }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout " ng-class="{toggle : logoutClickStatus == true}">
                        <div class="log-arrow-up"></div>
                        <li>
                            <a ng-click="logout()" href="#/"><i class="icon_chat_alt"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" ng-href="#/manageUser">
                        <i class="icon_id-2_alt"></i>
                        <span>Manage User</span>
                    </a>
                </li>
                <li class="active">
                    <a class="" ng-href="#/managePost">
                        <i class="icon_image"></i>
                        <span>Manage Post</span>
                    </a>
                </li>
                <li class="active">
                    <a class="" ng-href="#/manageShop">
                        <i class="icon_house_alt"></i>
                        <span>Manage Shop</span>
                    </a>
                </li>
                <li class="active">
                    <a class="" ng-href="#/report">
                        <i class="icon_piechart"></i>
                        <span>Report</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">

                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <h3>User Table</h3>
                        </header>
                        <div class="panel-body">
                            <div class="tab-pane">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <section class="panel">

                                                <table st-table="userTable" class="table table-striped" st-safe-src="userCollection">
                                                <thead>
                                                <tr>
                                                    <th st-sort="username">Username</th>
                                                    <th st-sort="email">Email</th>
                                                    <th st-sort="gender">Gender</th>
                                                    <th st-sort="delete_flag">Status</th>
                                                    <th st-sort="created_at">Created at</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input st-search="username" placeholder="search for username" class="input-sm form-control" type="search"/>
                                                    </th>
                                                    <th>
                                                        <input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        <input st-search="created_at" placeholder="search for Created at" class="input-sm form-control" type="search"/>
                                                    </th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="row in userTable">
                                                    <td>{{row.username}}</td>
                                                    <td>{{row.email}}</td>
                                                    <td ng-if="row.gender == 0"> Men</td>
                                                    <td ng-if="row.gender == 1"> Woman</td>
                                                    <td ng-if="row.delete_flag == 0" style="color: #2ac845"> LIVE</td>
                                                    <td ng-if="row.delete_flag == 1" style="color: #ff0000"> BANNED</td>
                                                    <td>{{row.created_at | date }}</td>
                                                    <td ng-if="row.delete_flag == 0" ng-click="banUser(0, row.id, $index)"><button class="btn btn-primary">BAN</button></td>
                                                    <td ng-if="row.delete_flag == 1" ng-click="banUser(1, row.id, $index)"><button class="btn btn-primary">UNBAN</button></td>
                                                </tr>
                                                </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="5" class="text-center">
                                                                <div st-pagination=""  st-displayed-pages="10"></div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                            </table>


                                        </section>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </section>
                </div>

            </div>
        </section>

        <!--main content end-->
    </section>
</section>